$primary-color: #d6d7d7;
$blue-tint: #0091d2;

$sidebar-color: lighten($primary-color, 10%);
$sidebar-color-diff: lighten($sidebar-color, 5%);
$text-color: #1E1E20;
$off-white: #F5F5F5;

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    color: $text-color;
    background-color: $off-white;
}

.flex-row-container {
    display: flex;
    flex-flow: row;
}

.flex-column-container {
    display: flex;
    flex-flow: column;
}

.box-shadow {
    box-shadow: 0.1rem 0.1rem 0.3rem darken($blue-tint, 25%);
}

.border-box {
    border: 1px solid darken($blue-tint, 25%);
}

.application-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40rem;
    
    height: 100%;
    width: 100%;
}

.nobil-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    height: 40rem;
    
    overflow: hidden;
}

.chargerstation-available {
    $color: #468966;
    stroke: $color;
    stroke-dasharray: 0.2rem;
    stroke-opacity: 1;
    fill: lighten($color, 20%);
    opacity: 1;
}

.chargerstation-error {
    $color: #8E2800;
    stroke: $color;
    stroke-dasharray: 0.2rem;
    stroke-opacity: 1;
    fill: lighten($color, 20%);
    opacity: 0.7;
}

.chargerstation-occupied {
    $color: #FFB03B;
    stroke: $color;
    stroke-dasharray: 0.2rem;
    stroke-opacity: 1;
    fill: lighten($color, 20%);
    opacity: 0.7;
}

.chargerstation-unknown {
    $color: lighten($text-color, 10%);
    stroke: $color;
    stroke-dasharray: 0.2rem;
    stroke-opacity: 1;
    fill: lighten($color, 20%);
    opacity: 1;
}

.popup-attribute {
    color: $primary-color;
    margin-bottom: 0.5rem;
    .label {
        color: darken($primary-color, 30%);
        font-weight: bold;
    }
}

.sidebar {
    position: absolute;
    bottom: 0;
    top: 40rem;
    left: 0;
    right: 0;
    
    overflow-y: auto;
    
    padding: 1rem 1rem;
    
    border-top: 1px solid darken($primary-color, 30%);
    background-color: $sidebar-color;
    
    @extend .flex-column-container;
    
    
    
    > div {
        margin-top: 1rem;
    }
    
    > :first-child {
        margin-top: 0;
    }
    
}

.brand {
    
    min-height: 6rem;
    padding: 1rem;
    
    
    background-color: $sidebar-color-diff;
    
    @extend .box-shadow;
    @extend .border-box;
    
    @extend .flex-row-container;
    
    .logo {
        height: 4rem;
        flex-basis: 4rem;
        flex-grow: 0;
        
        padding: 1rem;
        
        margin-right: 2rem;
    }
    
    .name {
        text-align: center;
        flex-grow: 1;
        text-align: left;
        
        // Center text vertically
        @extend .flex-column-container;
        justify-content: center;
        
    }
    
    
}

.connection-status-display {
    flex-grow: 1;
    .title {
        // None yet
    }
    
    .description {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

.counter {
    
    @extend .border-box;
    background-color: $sidebar-color-diff;
    
    @extend .box-shadow;
    
    padding: 1rem;
    margin-bottom: 1rem;
    
    display: flex;
    
    .label {
        flex-grow: 2;
        font-size: 1.2rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .amount {
        flex-basis: 6rem;
        font-size: 1.8rem;
        text-align: center;
        
        .red {
            color: #8E2800;
        }
        
        .yellow {
            color: #FFB03B;
        }
        
        .green {
            color: #468966;
        }
    }
}

.credit {
    width: 90%;
    margin: -0.5rem auto;
    min-height: 3rem;
    text-align: center;
    padding: 1rem;
    
    z-index: 0;
    
    @extend .border-box;
    background-color: $sidebar-color-diff;
    
    @extend .box-shadow;
}

@media (min-width: 650px) {
    
    .nobil-map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        right: 24rem;
        
        height: 100%;
    }
    
    
    .sidebar {
        position: absolute;
        left: auto; 
        top: 0;
        bottom: 0;
        right: 0;
        width: 24rem;
        
        
        border-left: 1px solid darken($primary-color, 30%);
        border-top: none;
    }
    
    
}